@import "_vars.scss";
@import "_mixins.scss";

.footer {
  background-color: $black;
    padding-top: 24px;
    padding-bottom: 16px;
    @media (max-width: 570px) {
      padding-bottom: 0;
    }
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    justify-items: center;
    grid-template-areas:
    "logo logo logo logo quote quote quote quote quote quote social social";
    @media (max-width: 1024px) {
      grid-template-columns: repeat(8, 1fr);
      grid-template-areas:
      "logo logo logo quote quote quote social social";
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
      "logo logo logo logo social social";
    }
    @media (max-width: 570px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 30px;
      grid-template-areas:
      "social"
      "logo";
    }
    &::before {
      display: none;
      position: absolute;
      content: '';
      top: 90px;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #4a4a4a;
      @media (max-width: 570px) {
        display: block;
      }
    }
  }
  &__logo {
    position: relative;
    grid-area: logo;
    max-width: 263px;
    max-height: 55px;
    @media (max-width: 1024px) {
      align-self: center;
    }
    @media (max-width: 570px) {
      z-index: 1;
    }
  }
  &__quote {
    grid-area: quote;
    @extend %roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $gray;
    max-width: 361px;
    align-items: start;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__social {
    grid-area: social;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    color: $gray;
    @extend %roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 161px;
    margin-left: auto;
    align-items: center;
    span {
      margin-bottom: 8px;
    }
    @media (max-width: 570px) {
      margin-left: 0;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &__icons:not(:last-child) {
    margin-right: 20px;
  }
  &__link {
    svg path {
      transition: fill .2s;
    }
    &:hover {
      svg path {
        fill: $orange;
      }
    }
    &:focus-visible {
      svg path {
        fill: $brown;
      }
    }
    &:active {
      svg path {
        fill: $darkOrange;
      }
    }
  }
}
